
*
 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  min-width: 600px;
}
h1 {
  font-family:sans-serif;
  font-weight: 400;
  font-size: 3.2rem;
  margin-bottom: 20px;
}
h2 {
  font-family:sans-serif;
  font-size: 1.625rem;
  font-weight: 400;
}
h3 {
  font-family:  sans-serif;
}
main {
  padding: 100px;
  width: 100vw;
  height: 100vh;
  min-width: 360px;
}
.left-text {
  width: 50%;
  text-align: inherit;
}
.images {
  height: auto;
  border: 0;
  position: relative;
  width: 40%;
}
.images > img {
  width: 100%;
}
.lap {
  width: 60%;
  min-width: 200px;
  height: 80px;
  border-radius: 8px;
  background-color: #000;
  border: 1px solid rgb(83, 83, 83);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -150px;
  padding: 10px;
  position: absolute;
  bottom: 0%;
  left: 50%;
 
}

.lap_img {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.lap img {
  max-height: 100%;
}

.lap_text {
  font-size: 0.7rem;
}
p {
  color: #0071eb;
  font-family:  sans-serif;
}

@media screen and (min-width: 1000px) {
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }